.DS_Store
.DS_Store

.DS_Store

HUIPatternLockView.xcodeproj/xcuserdata/zhangtinghui.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

HUIPatternLockView.xcodeproj/xcuserdata/zhangtinghui.xcuserdatad/xcschemes/Demo.xcscheme

HUIPatternLockView.xcodeproj/xcuserdata/zhangtinghui.xcuserdatad/xcschemes/HUIPatternLockView.xcscheme

HUIPatternLockView.xcodeproj/xcuserdata/zhangtinghui.xcuserdatad/xcschemes/xcschememanagement.plist
